<!-- <p>park-space works!</p> -->

  <mat-card style="
  font-size: 2rem;
  background-color: rgb(217, 200, 223);margin-bottom: 1rem; cursor: pointer;"  elevated-container-color="blue" appearance="outlined">
      <mat-card-content style="color: rgb(120, 26, 162);font-size: 2rem;">Park Space 1</mat-card-content>
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
  </mat-card>
  <mat-card style="
  font-size: 2rem;
  background-color: rgb(217, 200, 223);margin-bottom: 1rem;"  elevated-container-color="blue" appearance="outlined">
      <mat-card-content style="color: rgb(120, 26, 162);font-size: 2rem;">Park Space 2</mat-card-content>
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
  </mat-card>
  <mat-card style="
  font-size: 2rem;
  background-color: rgb(217, 200, 223);margin-bottom: 1rem;"  elevated-container-color="blue" appearance="outlined">
      <mat-card-content style="color: rgb(120, 26, 162);font-size: 2rem;">Park Space 3</mat-card-content>
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
  </mat-card>